body {
    text-align: center;
}

img {
    width: 100%;
}

div.container {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    margin: 0%;
    padding: 0%;
}

div.centrat {
    position: absolute;
    right: 30%;
}